<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">

	<!-- declaration d'un listener pour charger les context : spring ioc et/ou 
		spring security -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<!-- specifier le chemin du fichier de config de context spring ioc pour 
		le conteneur puisse le charger -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/application-context.xml</param-value>
	</context-param>

	<!-- declaration de la servlet unique de spring mvc -->
	<servlet>
		<servlet-name>mvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>

		<!-- Spécifier le chemin du fichier de config de context mvc -->
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/mvc-context.xml</param-value>
		</init-param>
	</servlet>
	<!-- mapping de la servlet unique -->
	<servlet-mapping>
		<servlet-name>mvc</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<!-- La page d'accueil de mon projet -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>

	</welcome-file-list>


</web-app>