<div class="hero-image">
	<div class="hero-text">
		<h1 style="font-size: 50px">BoVoyage</h1>
		<h3>Bienvenue sur votre site de voyage en ligne !</h3>
	</div>
</div>
<nav class="navbar navbar-inverse">
	<ul class="nav nav-pills">
		<li role="presentation" class="active"><a href="accueil">Accueil</a></li>
		<li role="presentation"><a href="afficheContinent">Choix des
				voyages</a></li>
		<li role="presentation"><a href="">Accés aux dossiers</a></li>
		<li role="presentation"><a href="">Accès administrateur</a></li>
	</ul>
</nav>