<div class="hero-image">
	<div class="hero-text">
		<br /> <br /> <br /> <br /> <br /> <br />
		<h1 style="font-size: 70px">
			<img style="height: 200px" src="../assets/images/toucan1.png">
			BoVoyage
		</h1>
		<h3 style="font-size: 30px">Bienvenue sur votre site de voyage en
			ligne !</h3>
	</div>
</div>
<nav class="navbar navbar-inverse">
	<ul class="nav nav-pills" >
		<li role="presentation" class="active"><a
			href="${pageContext.request.contextPath}/public/afficheListeContinent">Accueil</a></li>
		<li role="presentation"><a
			href="${pageContext.request.contextPath}/public/afficherCreateAccount">
				Créer un compte</a></li>
		<li role="presentation"><a
			href="${pageContext.request.contextPath}/client/listeDossiers">Menu
				client</a></li>
		<li role="presentation"><a
			href="${pageContext.request.contextPath}/admin/listeVoyage">Accès
				administrateur</a></li>
		<li role="presentation"><a
			class="btn btn-warning" href="${pageContext.request.contextPath}/j_spring_security_logout">Se déconnecter</a></li>
	</ul>
</nav>